<div class="dropdown">
    <a class="btn btn-outline-dark dropdown-toggle" href="#"
       id="managedropdownmenu" data-toggle="dropdown">Configuration</a>
    <div class="dropdown-menu" aria-labelledby="managedropdownmenu">
        <a class="dropdown-item" asp-action="Index" asp-controller="Configuration" asp-area="admin">Database</a>
    </div>
</div>