@{
    ViewData["Title"] = "Lỗi xác thực email";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"].</h1>
<div>
    <p>
        Có lỗi khi xác thực địa chỉ mail
    </p>
</div>
