@{
    ViewData["Title"] = "Lỗi đăng nhập";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<header>
    <h1>@ViewData["Title"].</h1>
    <p class="text-danger">Không sử dụng được dịch vụ đăng nhập.</p>
</header>
