@{
    ViewData["Title"] = "Thông báo lấy lại mật khẩu";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"].</h1>
<p>
    Kiểm tra email để lấy lại mật khẩu.
</p>
