@model IEnumerable<WholeSaleManagementApp.Models.Product>
@{
    ViewData["Title"] = "Thống kê";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Thống kê </h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">Quản lý sản phẩm</a></li>
                    <li class="breadcrumb-item active">Thống kê</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div class="col-12 col-xl-12">
    <div class="card">
        <div class="card-header">
            <div class="d-md-flex">

                <form action="InventoryReport">
                    <div class="form-group">
                        <select id="qty" class="form-control custom-select" name="qty">
                            <option selected>Chọn số lượng tối đa</option>
                            <option value="0">0</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Thống kê tồn kho</button>
                </form>
            </div>
            <br/>
            <br/>
        </div>
    </div>
</div>