

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>KPI</h1>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Tim kiem <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<a href="#" class="btn btn-primary">ExportPDF</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Tên nhân viên
            </th>
            <th>
                Số báo giá đã chào 
            </th>
            <th>
                Tỉ lệ đồng ý từ lần chào giá đầu tiên
            <th>
                Tỉ lệ đóng cơ hội thành công
            </th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>


